body {
    background-color: #EEF9BF;
    font-family: "Roboto", sans-serif;
    width: 872px;
    margin: auto;
}
.title{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
h1 {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    line-height: 65.63px;    
}
.deck {
    width: 100%;
    height: 326px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card {
    position: relative;
    box-sizing: border-box;
    width: 117px;    
    height: 146px;
    margin: 0 10px 35px 10px; 
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    transition: all 500ms ease;
    transform-style: preserve-3d;
}
.front>img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 10px;
}
.back>img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 10px;
    background-size: cover;
    backface-visibility: hidden;
}
.flip {
    transform: rotateY(180deg);
}





@media only screen and (max-width: 335px){
    body {
        width: 100%;
        margin: auto;
    }
    .title {
        width: 312px;
        font-size: 36px;
        margin: auto;
        margin-top: 40px;
        text-align: center;
    }
    h1 {
        font-size: 36px;
        line-height: 42.19px;
    }
    .deck {
        width: 34.5%;
        display: block;
    }
    .card {
        margin-bottom: 34px;
    }
}